# Enable mod_rewrite
RewriteEngine on

## Apache prior to v2.2
#RewriteCond %{REQUEST_FILENAME} !-f
# Apache v2.2 and newer
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f

# Everything else, send to MarkDoc to process
RewriteRule ^(.*)$ index.php?p=$1 [L]
